.1_21 { 
	overflow:hidden;
}.e1_21 { 
	background-color:rgba(255, 255, 255, 1);
	width:1360px;
	height:1133px;
	position:absolute;
}.e1_22 { 
	border-radius:500px;
	background-color:rgba(237.0000010728836, 247.00000047683716, 250.00000029802322, 1);
	width:243px;
	height:243px;
	position:absolute;
	left:894px;
	top:223px;
}.e1_23 { 
	background-color:rgba(255, 100.00000163912773, 100.00000163912773, 1);
	width:247px;
	height:47px;
	position:absolute;
	left:165px;
	top:477px;
	border-top-left-radius:2px;
	border-top-right-radius:2px;
	border-bottom-left-radius:2px;
	border-bottom-right-radius:2px;
}.e1_24 { 
	color:rgba(33.00000183284283, 36.00000165402889, 61.00000016391277, 1);
	width:506px;
	height:105px;
	position:absolute;
	left:165px;
	top:228px;
	font-family:Heebo;
	text-align:left;
	font-size:44px;
	letter-spacing:0;
	line-height:px;
}.e1_25 { 
	color:rgba(33.00000183284283, 36.00000165402889, 61.00000016391277, 1);
	width:497px;
	height:86px;
	position:absolute;
	left:165px;
	top:373px;
	font-family:Heebo;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.e1_28 { 
	color:rgba(0, 0, 0, 1);
	width:71px;
	height:43px;
	position:absolute;
	left:1231px;
	top:27px;
	font-family:Heebo;
	text-align:right;
	font-size:20px;
	letter-spacing:0;
}.e1_29 { 
	color:rgba(255, 255, 255, 1);
	width:227px;
	height:21px;
	position:absolute;
	left:175px;
	top:488px;
	font-family:Heebo;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.e1_30 { 
	border-radius:500px;
	width:243px;
	height:243px;
	position:absolute;
	left:899px;
	top:210px;
	background-image:url(images/ellipse_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e1_31 { 
	background-color:rgba(237.0000010728836, 247.00000047683716, 250.00000029802322, 1);
	width:1152px;
	height:396px;
	position:absolute;
	left:0px;
	top:595px;
}.e1_32 { 
	box-shadow:0px 4px 10px rgba(187.00000405311584, 225.00000178813934, 250.00000029802322, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:418px;
	height:295px;
	position:absolute;
	left:165px;
	top:664px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}.e1_33 { 
	background-color:rgba(255, 255, 255, 1);
	width:418px;
	height:295px;
	position:absolute;
	left:690px;
	top:664px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}.e1_34 { 
	color:rgba(33.00000183284283, 36.00000165402889, 61.00000016391277, 1);
	width:374px;
	height:85px;
	position:absolute;
	left:188px;
	top:688px;
	font-family:Heebo;
	text-align:left;
	font-size:26px;
	letter-spacing:0;
}.e1_35 { 
	color:rgba(33.00000183284283, 36.00000165402889, 61.00000016391277, 1);
	width:374px;
	height:85px;
	position:absolute;
	left:713px;
	top:688px;
	font-family:Heebo;
	text-align:left;
	font-size:26px;
	letter-spacing:0;
}.e1_44 { 
	color:rgba(33.00000183284283, 36.00000165402889, 61.00000016391277, 1);
	width:89px;
	height:60px;
	position:absolute;
	left:165px;
	top:602px;
	font-family:Heebo;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
	line-height:px;
}.e1_45 { 
	color:rgba(0, 168.0000051856041, 204.00000303983688, 1);
	width:208px;
	height:20px;
	position:absolute;
	left:900px;
	top:627px;
	font-family:Heebo;
	text-align:right;
	font-size:16px;
	letter-spacing:0;
}.e1_80 { 
	width:1152px;
	height:182px;
	position:absolute;
	left:0px;
	top:991px;
}.e1_81 { 
	background-color:rgba(255, 255, 255, 1);
	width:1152px;
	height:135px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_91 { 
	color:rgba(33.00000183284283, 36.00000165402889, 61.00000016391277, 1);
	width:222px;
	height:21px;
	position:absolute;
	left:464px;
	top:107px;
	font-family:Heebo;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}.e3_2 { 
	width:364px;
	height:224px;
	position:absolute;
	left:188px;
	top:723px;
	background-image:url(images/rectangle_41.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e3_3 { 
	width:364px;
	height:224px;
	position:absolute;
	left:718px;
	top:723px;
	background-image:url(images/rectangle_42.png);
	background-repeat:no-repeat;
	background-size:cover;
}